---
import '../styles/global.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>Annalisa Antonioli - Freelance dev</title>
    <script
      id='Cookiebot'
      src='https://consent.cookiebot.com/uc.js'
      data-cbid='aa852b5d-e83a-4c3b-b894-73295f0f8de4'
      data-blockingmode='auto'
      type='text/javascript'></script>
    <script is:inline data-cookieconsent='ignore'>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('consent', 'default', {
        ad_personalization: 'denied',
        ad_storage: 'denied',
        ad_user_data: 'denied',
        analytics_storage: 'denied',
        functionality_storage: 'denied',
        personalization_storage: 'denied',
        security_storage: 'granted',
        wait_for_update: 500,
      })
      gtag('set', 'ads_data_redaction', true)
      gtag('set', 'url_passthrough', false)
    </script>
    <!-- Google tag (gtag.js) -->
    <script is:inline async src='https://www.googletagmanager.com/gtag/js?id=G-NNJLNN8YG7'
    ></script>
    <script is:inline>
      gtag('js', new Date())
      gtag('config', 'G-NNJLNN8YG7')
    </script>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
